1. Find the total sales by each payment method

In [ ]:
SELECT Payment, 
       ROUND(SUM(Sales), 2) AS Total_Sales
FROM SuperMarket
GROUP BY Payment
ORDER BY Total_Sales DESC;

2. Find the average rating given by Male vs Female customers

In [ ]:
SELECT Gender, 
       ROUND(AVG(Rating), 2) AS Avg_Rating
FROM SuperMarket
GROUP BY Gender;

3. Top 5 Product Lines by Total Sales

In [ ]:
SELECT [Product line], 
       ROUND(SUM(Sales), 2) AS Total_Sales
FROM SuperMarket
GROUP BY [Product line]
ORDER BY Total_Sales DESC
LIMIT 5;

4. Total Quantity Sold by Each City

In [ ]:
SELECT City, 
       SUM(Quantity) AS Total_Quantity
FROM SuperMarket
GROUP BY City
ORDER BY Total_Quantity DESC;

5. Branch-wise Average Gross Income

In [ ]:
SELECT Branch, 
       ROUND(AVG([gross income]), 2) AS Avg_Gross_Income
FROM SuperMarket
GROUP BY Branch
ORDER BY Avg_Gross_Income DESC;